@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --serif-font: Georgia, "Times New Roman", Times, serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100%;
}





/* *****************
*  Avatar animation
********************/

.profile-image {
  position: relative;
}

.profile-image::after {
  top: 0;
  position: absolute;
  content: "";
  width: 15rem;
  height: 15rem;
  background-image: url("/me.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 62% 47% 42% 75% / 45% 45% 5% 100%;
  will-change: border-radius, transform, opacity;
  display: block;
  animation: behindSliderShape 5s linear infinite;
  -webkit-animation: behindSliderShape 5s linear infinite;
  z-index: -1;
}

.profile-image::before {
  content: "";
  width: 15rem;
  height: 15rem;
  background: #484848;
  background-image: url("/me.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
  will-change: border-radius, transform, opacity;
  display: block;
  animation: sliderShape 5s linear infinite;
  -webkit-animation: sliderShape 5s linear infinite;
  z-index: 1;
}

@keyframes sliderShape {
  0%, 100% {
    border-radius: 58% 58% 70% 30% / 45% 45% 55% 55%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }

  34% {
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }

  50% {
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }

  67% {
    border-radius: 100% 60% 60% 60% / 100% 100% 60% 60%;
    transform: translate3d(0,-4px,0) rotateZ(0.01deg);
  }
}

@keyframes behindSliderShape {
  0%, 100% {
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }

  34% {
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }

  50% {
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }

  67% {
    transform: translate3d(0,-4px,0) rotateZ(0.01deg);
  }

}

@media (min-width: 768px) and (min-height: 600px) {
  .vertical {
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
  }
}





/* *********************
*  Project img filter
***********************/

.project img {
  filter: grayscale(100%) contrast(1) brightness(90%);
  transition: all 0.3s linear;
}

.project:hover img {
  filter: none;
}